.footer {
  --footerBgColor: rgb(114 56 56);

  position: sticky;
  top: 0;
  color: var(--color);
  background-color: var(--footerBgColor);
}

.footer__list {
  display: flex;
  gap: 16px;
  padding: 16px 0;
  background-color: var(--footerBgColor);
}

.footer__link {
  color: inherit;
}
