:root {
  --color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: Travels, sans-serif;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.main {
  flex-grow: 1;
}

.pageLayout {
  min-height: 100dvh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 24px 0;

  &:not(:last-child) {
    margin-bottom: 80px;
  }
}
